*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-color: orange;
    color:white;
}


header{
    font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header >*{
   cursor: pointer; 
   margin:0 20px;
    color: white;
    font-family:fantasy;
} 
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}
#text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;

}
#social{
    position: absolute;
    bottom: 40px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    list-style:none;
}
#social>*{
    margin: 0 40px;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0px;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

a{
    text-decoration: none;
    font-size: 30px;
}
button{
    z-index: 100;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 0px;
    margin-top: 30px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ;
  mix-blend-mode: overlay;
}
